@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.card {
    position: relative;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    max-width: 80vw;
    min-width: 300px;
    height: 50vh;
    /* box-shadow: 0 18px 53px 0px rgba(0,0,0,0.3); */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.card h3 {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 20em;
    color: #fff;
    font-family: 'Montserrat';
}

.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66.5vw;
    height: 55vh;
    /* background-color: red; */
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

.swipe {
    position: absolute;
}